
.btn_paginate  {
    width: 61px;
    height: 40px;   
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #055160;
}
.btn_last {
    border-radius: 0px 4px 4px 0px;
}
.btn_first {
    border-radius: 4px 0px 0px 4px;
}
.hover {  
color: #ABB5BE;
}

.active {
    background: #055160;
    color: #FFFFFF;
   
}

.btn_paginate:hover {
    background: rgb(198, 198, 198, 0.5);
    transition:  .3s;
    
}
.paginate {
   margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    border-top: 1px solid #CED4DA;
    padding-top: 31px;
}